header{
        display: flex;
        width: 100%;
        height: 70px;
        align-items: center;
        justify-content: space-around;
        border-bottom: solid 1px var(--gray_color);
    
        .search-container{
                display: flex;
                width: 60%;
                height: 100%;

                input{
                    align-self: center;
                    width: 100%;
                    height: 60%;
                    margin-top: 10px;
                    text-align: center;
                    border-radius: 10px;
                    border: none;
                    background-color: var(--black_color);
                    color: var(--white_color);
                    outline: none;
                    background-image: url(../../images/icons8-search.svg);
                    background-repeat: no-repeat;
                    background-position: left 25px center;
                }
            }

        
        .menu{
            background: url(../../images/menu.svg);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            width: 35px;
            height: 40px;
            color: white;
        }
    }

    ::placeholder{
        color: var(--white_color);
        font-size: 1rem;
    }
